<div class="row" ng-init="getCurrentUserEmail();">
    <div class="col-md-4">
        <h4>Your current balance is: {{currentBalance}}</h4>
        <form name="bankOperationForm">
            <label>Amount</label>
            <input type="number" step="0.01" min="0.01" required="required" ng-model="bank.amount" class="form-control">
            <br>
            <input type="radio" ng-model="bank.operation" required="required" name="transaction-operation"
                   value="Deposit"> Deposit
            <input type="radio" ng-model="bank.operation" required="required" name="transaction-operation"
                   value="Withdraw"> Withdraw
            <br>
            <br>
            <button class="btn btn-primary" ng-disabled="bankOperationForm.$invalid" ng-click="vm.doTransaction(bank)">
                Make Transaction
            </button>
        </form>
    </div>
</div>
</br>
</br>
<div class="alert alert-danger" ng-if="vm.errMsg">
    {{vm.errMsg}}
</div>
<div class="alert alert-success" ng-if="vm.successMsg">
    {{vm.successMsg}}
</div>
